!!!
%html
  %head
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(@title || "<%= project_name %>")
    = blueprint_stylesheets
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.to_json};" if protect_against_forgery?
    = javascript_include_tag %w(jquery jquery-ui jrails)
    = javascript_include_tag 'application'
    = yield :head
%body
  .container
    #header
      %h1
        = link_to "<%= project_name %>", root_url

    = render_flashes
    = yield

